In [1]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [2]:
cur = con.cursor()

In [4]:
cur.execute("CREATE TABLE movie(title, year, score)")

OperationalError: table movie already exists

In [5]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [6]:
con.commit()

In [3]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)

In [4]:
con.commit()